/* Your CSS styles go here */
@font-face
{

}
.imgSource
{
	border: 7px;
}
.resumeContent {
	background-color: lightgray;
}
h1 {
	border: 6px;
	background-color: snow;
	border-style: outset;
}
h1:hover {
	background-color: mistyrose;
}
