/* Your CSS styles go here */
@font-face
{

}
*{
	color: white;
}
h1 {

	border: 6px;
	background-image: url("images/backImage.jpg");
	border-style: none;
	width: 100%;
	margin: 0 auto;
	font-size: 60;
	font-family: 'Courgette', cursive;
	color: white;
	opacity: .7;
	/*
	position: fixed;
	*/
}

.resumeContent{
	width: 800px;
	background-image: url("images/backImage2.jpg");
	margin: 0 auto; 

}

#img
{
	width: 200px;
	height: 200px;
	border: 2px #04284C solid;
	border-radius: 10%;
	z-index: 2;
	float: right;
	position: relative;
	top: 35px;
	/*
	border-style: dotted;
	padding-top: 10px;
	float: right;
	background-blend-mode: color-dodge;
	position: relative;
	left: 400px;
	top: 50px;

	*/
	padding: 5px;
	
	


}
#img:hover{
	opacity: .7;
}
#imgSource {
	border-radius: 10%;
	width: 200px;
}

#name {
	z-index: 1;
	background-color: none;
	float: left;
	position: relative;
	top: 50px;
	/*top: 50px;
	position: relative;
	*/
}
#h2Name
{
	font-size: 60;
	width: 350px;
	
	font-family: 'Philosopher', sans-serif;
	

	
	/*
	background-color: #4B7D7A;
	clear: both;
	border-radius: 10px;
	float: left;
	position: relative;
	top: -100px;
	*/
}
#mouseimage {
	width: 60px;
}
#Head1 {
	color: white;
}
#info{
	
	clear: both;
}
#mobileicon {
	width: 40px;
}
#mobileNumber {
	font-weight: bold;
	position: relative;
	left: 15px;
	top: -15px;
	letter-spacing: 2.5px;
	font-family: 'Artifika', serif;

}
#info2 {
	background-color: none;

}
#emailicon {
	width: 40px;
}
#emailAdd {
	font-weight: bold;
	position: relative;
	left: 15px;
	top: -15px;
	letter-spacing: 2.5px;
	font-family: 'Artifika', serif;
}
#info3{
	background-color: none;
}
#addressicon {
	width: 40px;
}
#address {
	font-weight: bold;
	position: relative;
	left: 15px;
	top: -15px;
	letter-spacing: 2.5px;
	font-family: 'Artifika', serif;
}

#intro{
	padding-left: 5;
	width: 100%;
	height: 50px;
	margin-top: 5px;
	background-color: rgba(153, 204, 255, 0.3);
	/*
	float: left;
	*/	
}
#intro2 {
	padding-left: 5;
	width: 100%;
	height: 50px;
	background-color: rgba(153, 204, 255, 0.5);

}
#intro3 {
	padding-left: 5;
	width: 100%;
	height: 50px;
	background-color: rgba(153, 204, 255, 0.3);

}
#introText {
	font-weight: bold;
	position: relative;
	top: 10px;
	left: 10px;
	font-family: 'Artifika', serif;
}
#education{
	background-color: rgba(153, 204, 255, 0.3);
	width: 100%;
	/*
	float: left;
	*/
}
#bt{
	color: black;
}

#eduTable {
	width: 100%;
	margin-top: 5px;
}
#eduTable, th, td {
	
	border:1px solid black;
	padding: 15px;
	font-family: 'Artifika', serif;
	}
th {
	color: #04284C;
	background-color: rgba(30, 85, 139, 0.5);
}
#tableStart {
	margin-top: 10px;
	font-weight: bold;
	border: 1px solid black;
	background-color: rgba(38,89,139, .6);
	text-align: center;
	padding: 15px;

}
#tableStartText {
	color: #081A2C;
	font-weight: bold;
	font-family: 'Artifika', serif;
	font-size: 25;
}
#gamingicon{
	width: 40px;
	float: right;
	position: relative;
	top: 5px;
}
#androidicon {
	width: 40px;
	float: right;
	position: relative;
	top: 5px;
}
#codingicon {
	width: 40px;
	float: right;
	position: relative;
	top: 5px;
}

#skills{
	margin-top: 10px;
	font-weight: bold;
	border: 1px solid black;
	background-color: rgba(38,89,139, .6);
	text-align: center;
	padding: 15px;
}
#skillText {
	color: #081A2C;
	font-weight: bold;
	font-family: 'Artifika', serif;
	font-size: 25;

}
.SkillProg { 
	margin-top: 5px;
	height: 20px;  /* Can be anything */
	position: relative;
	background-color: rgba(153, 204, 255, 0.5);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 0px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.SkillProg > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(38,89,139);
  background-image: linear-gradient(
    center bottom,
    rgb(38,89,139) 37%,
    rgb(84,240,84) 69%
  );
 }
 #cText {
 	padding-left: 20px;
 }

 #follow {
 	margin-top: 10px;
	background-color: rgba(153, 204, 255, 0.5);
	width: 100%;
	text-align: center;
	height: 45px;
}
#followText {
	color: #081A2C;
	font-weight: bold;
	font-family: 'Artifika', serif;
	font-size: 25;
	position: relative;
	top: -7px;


}
#fbicon {
	position: relative;
	top: 3px;
}
#tticon {
	position: relative;
	top: -1px;
}

#contactMe {
	background-color: rgba(38,89,139, .6);
	width: 100%;
	height: 40px;
	border: 1px solid black;
	text-align: center;
}
#contactMeText {
	color: #081A2C;
	font-weight: bold;
	font-family: 'Artifika', serif;
	font-size: 25;
}
#Contact {
	margin-top: 5px;
	margin-bottom: 20px;
	border-radius: 0px;
    background-color: rgba(153, 204, 255, 0.5);
    padding: 20px;
}
input[type=text], input[type=email], input[type=textarea] {
	color: black;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(38,89,139, .6);
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
#finish{
	width: 100%;
	height: 40px;
	background-image: url("images/backImage.jpg");
	opacity: .7;
}

::-webkit-input-placeholder {
	color: black;
}


@media (max-width: 476px) {
		.resumeContent{
		width: 90%;
		background-image: url("images/backImage2.jpg");
		margin: 0 auto; 

	}
	#h2Name
	{
		font-size: 35px;
		width: 75%;
		
		font-family: 'Philosopher', sans-serif;
		
	}
	#name {
		z-index: 1;
		background-color: none;
		clear: both;
		position: relative;
		top: 0px;
		/*
		float: left;
		position: relative;
		top: 0px;
		*/
		
	}
	#mouseimage {
		width: 35px;
	}
	#img
	{
		width: 130px;
		height: 130px;
		border: 2px #04284C solid;
		border-radius: 10%;
		z-index: 2;
		position: relative;
		top: 0px;
		/*
		border-style: dotted;
		padding-top: 10px;
		float: right;
		background-blend-mode: color-dodge;
		position: relative;
		left: 400px;
		top: 50px;

		*/
		padding: 5px;
		
		


	}
	#img:hover{
		opacity: .7;
	}
	#imgSource {
		border-radius: 10%;
		width: 130px;
	}

}

@media (max-width: 575px) and (min-width: 477px)
{
	.resumeContent{
		width: 90%;
		background-image: url("images/backImage2.jpg");
		margin: 0 auto; 

	}
	#h2Name
	{
		font-size: 35px;
		width: 75%;
		
		font-family: 'Philosopher', sans-serif;
		
	}
	#name {
		z-index: 1;
		background-color: none;
		clear: both;
		position: relative;
		top: 0px;
		/*
		float: left;
		position: relative;
		top: 0px;
		*/
		
	}
	#mouseimage {
		width: 35px;
	}
	#img
	{
		width: 200px;
		height: 200px;
		border: 2px #04284C solid;
		border-radius: 10%;
		z-index: 2;
		position: relative;
		top: 0px;
		/*
		border-style: dotted;
		padding-top: 10px;
		float: right;
		background-blend-mode: color-dodge;
		position: relative;
		left: 400px;
		top: 50px;

		*/
		padding: 5px;
		
		


	}
	#img:hover{
		opacity: .7;
	}
	#imgSource {
		border-radius: 10%;
		width: 200px;
	}



}


@media (max-width: 800px) and (min-width: 576px)
{
	.resumeContent{
		width: 90%;
		background-image: url("images/backImage2.jpg");
		margin: 0 auto; 

	}
	#h2Name
	{
		font-size: 50px;
		width: 75%;
		
		font-family: 'Philosopher', sans-serif;
		
	}
	#name {
		z-index: 1;
		background-color: none;
		clear: both;
		position: relative;
		top: 0px;
		/*
		float: left;
		position: relative;
		top: 0px;
		*/
		
	}
	#mouseimage {
		width: 35px;
	}
	#img
	{
		width: 200px;
		height: 200px;
		border: 2px #04284C solid;
		border-radius: 10%;
		z-index: 2;
		position: relative;
		top: 0px;
		/*
		border-style: dotted;
		padding-top: 10px;
		float: right;
		background-blend-mode: color-dodge;
		position: relative;
		left: 400px;
		top: 50px;

		*/
		padding: 5px;
		
		


	}
	#img:hover{
		opacity: .7;
	}
	#imgSource {
		border-radius: 10%;
		width: 200px;
	}

}
